html, body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    background:rgb(238, 235, 235);
    height: 80%;
}
a{
    text-decoration: none;
    color: blue;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
}
.erreur{
    color: red;
}
.success{
    color: green;
}

button{
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    border-radius: 5px;
    
}
.checkbox{
    border: 1px solid black;
    width: 50px;
    margin-bottom: 30px;
}


.signup-el{
    margin: 10px;
}



.top{
    background: rgb(43, 149, 248);
    height: 90px;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.logout{
    grid-column-start: 2;
    display: inline;
    text-align: right;
    margin: 10px;
}

.return{
    grid-column-start: 1;
    display: inline;
}

.fa-arrow-left{
    font-size: 40px;
}



.nav{
    text-align: center;
    border: 1px solid black;
    padding: 12px;
}
.onglet{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.preface{
    text-align: center;
}
main{
    margin: 5%;
    display: inline-block;
    height: 100%;
}
.main{
    width: fit-content;
    border: 2px solid black ;
    border-radius: 10px;
}
.login{
    margin: 10px;
    display: inline-flex;
}
.login-el{

    padding: 10px;
    margin: 10px;
    display: list-item;
}
.signup-link{
    margin: 20px;
}



footer{
    margin-top:30px;
    background: rgb(43, 149, 248);
    height: 50px;
}

/*-------------Reclamations----------------------*/


.reclamation-liste{
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 30px;
    margin: 0 0 30px 0;
    overflow: hidden;
}
.reclamation-boite{
    width: 700px;
    padding: 10px;
    overflow: hidden;
}

input{
    padding: 0px 20px;
    margin: 0;
    width: 300px;
    height: 40px;
    font-size: 22px;
}



@media only screen and (max-width: 750px){
    html, body{
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 20px;
        background:rgb(238, 235, 235);
        height: 100%;
    }
    a{
        text-decoration: none;
        color: blue;
        font-family: sans-serif;
    }
    ul{
        list-style-type: none;
    }
    .erreur{
        color: red;
    }
    .success{
        color: green;
    }
    .alaligne{
        display: inline !important;
    }
        button{
        padding: 5px;
        height: 35px;
        font-size: 20px;
        border-radius: 5px; 
        height: fit-content;
    }
    .checkbox{
        border: 1px solid black;
        width: 50px;
        margin-bottom: 30px;
    }


    .signup-el{
        margin: 5x;
    }


    .top{
        background: rgb(43, 149, 248);
        height: 90px;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
    }
    
    .logout{
        grid-column-start: 2;
        display: inline;
        text-align: right;
        margin: 10px;
    }
    
    .return{
        grid-column-start: 1;
        display: inline;
    }
    
    .fa-arrow-left{
        font-size: 40px;
    }


    .nav{
        text-align: center;
        border: 1px solid black;
        padding: 12px;
    }
    .onglet{
        border-bottom: 1px solid black;
        margin-bottom: 10px;
    }
    .preface{
        text-align: center;
    }
    
    main{
        height: 100%;
        margin: 5%;
        display: inline-block;
    }
    .main{
        text-align: center;
        width: fit-content;
        border: 2px solid black ;
        border-radius: 10px;
    }
    .login{
        text-align: center;
        margin: 10px;
        display: inline-flex;
    }
    .login-el{
        padding: 10px;
        margin: 10px;
        display: list-item;
    }
    .signup-link{
        margin: 20px;
    }

    
    footer{
        background: rgb(43, 149, 248);
        height: 80px;
    }
    
    /*-------------Reclamations----------------------*/
    
    .reclamation-liste{
        width: 100%;
        background: none;
        padding: 0;
        margin: 0 0 20px 0!important;
    }
    .nombre{
        font-size: 20px;
    }
    
    .reclamation-boite{
        background: rgb(255, 255, 255);
        width: fit-content;
        padding: 10px;
        margin: 0 0 20px 0!important;
        overflow: hidden;
    }

    input{
        padding: 0px 20px;
        margin: 0;
        width: 200px;
        height: 30px;
        font-size: 20px;
    }
    

}

/*        x      Viewport less then or equal to 750px       x     */
