html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
    background:white;
}
a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
}
input{
    padding: 5px;
    margin: 5px;
    background-color: rgb(234, 245, 248);
}
nav{
    display: grid;
    grid-template-columns: 50% 50%;
}
nav.sections{
    grid-column-start: 1;
    display: inline;
}
nav.login{
    grid-column-start: 2;
}
